
div#content{
    text-align: center;
}
.previewcontent img{
    display: block;
    width: 90%;
    border-radius: 20%;
    padding-top: 10px;
}
.previewcontent{
    display: inline-block;
    width: 200px;
    border-radius: 20%;
    margin: 20px;
    box-shadow: 10px 10px 5px black;
    /* box-shadow: 10px 10px 5px #0D171F; */

    background-color: rgb(38, 36, 44);
    /* background-color: #0D171F; */

    cursor: pointer;
    transition: 0.3s;
}
.previewcontent:hover{
    display: inline-block;
    width: 200px;
    border-radius: 20%;
    margin: 20px;
    /* box-shadow: 8px 8px 8px rgb(0, 26, 255); */
    box-shadow: 8px 8px 8px  rgb(255, 123, 0);
    background-color: rgb(38, 36, 44);

    transform: scale(1.1);
}
.previewcontent h1{
    text-align: center;
    color: rgb(255, 123, 0);
    margin: 5px;
}
.previewcontent p{
    text-align: center;
    color: #F1F4F7;
    font-size: 13px;
    margin: 5px;
}
div#content i{
    display: block;
    color:green;
    font-size: 20px;
    margin: 5px auto;
    width: 50px;
}
div#content i:hover{
    display: block;
    color: rgb(255, 123, 0);
    font-size: 20px;
    margin: 5px auto;
    width: 50px;
}