/*=====>>> MAIN STYLE <<<=====*/
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font: normal;
}
body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}
@media screen and (min-width: 1024px){
    .flex{
        display: flex;
    }
}
@media screen and (max-width: 1024px){
    .flex{
        display: flex;  
        /* flex-direction: row-reverse; */
        flex-direction: column-reverse;
    }
    #projectsmenu{
        order: 2;
    }
    main{
        order: 1;
    }
    #about{
        order: 3;
    }
}
/*=====>>> HEADER <<<=====*/
header{
    padding-top: 100px;
    min-width: 516px;
    max-width: 1540px;
    height: 720px;
}
/*responsive style*/
@media screen and (min-width: 1024px){
    h1#titleprojects{
        text-align: center;
        padding-top: 10%;
    }
    div#projectsmenu{
        background-color: rgb(38, 36, 44);
        min-width: 90px;
        width: 150px;
        height: 720PX;
        color: rgb(255, 123, 0);
        margin-right: 0.5%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    header nav div#projectsmenu ul{
        list-style-type: none;
        margin-top: 20%;
    }
    header nav div#projectsmenu ul li{
        color: rgb(255, 255, 255);
        padding: 15% 15%;
        cursor: pointer;
        transition: 0.3s;
        font-size: 12px;
    }
    header nav div#projectsmenu ul li:hover{
        color: rgb(0, 0, 0);
        padding: 15% 30%;
        font-size: 12px;
        transform: scale(1.2);
        background-color: rgba(231, 231, 231, 0.493);
    }
} 
@media screen and (max-width: 1024px){
    h1#titleprojects{
        margin-top: 20px;
        margin-left: 20px;
    }
    div#projectsmenu{
        background-color: rgb(38, 36, 44);
        width: 100%;
        height: 70PX;
        padding-bottom: 50px;
        color: rgb(255, 123, 0);
        display: inline-flex;
    }
    header nav div#projectsmenu ul{
        list-style-type: none;
        /* margin-top: 6%; */
    }
    header nav div#projectsmenu ul li{
        margin-top: 20px;
        margin-left: 20px;
        padding: 8px;
        color: rgb(231, 231, 231);
        cursor: pointer;
        transition: 0.3s;
        font-size: 12px;
        display: inline-flex;
    }
    header nav div#projectsmenu ul li:hover{
        color: rgb(0, 0, 0);
        font-size: 12px;
        transform: scale(1.5);
    }
} 
/*=====>>> CONTENT <<<=====*/
.rolagem{
    overflow: auto;
}
@media screen and (min-width: 1024px){
    main section div#content{
        background-color: rgb(231, 231, 231);
        height: 720px;
    }
}
@media screen and (max-width: 1024px){
    main section div#content{
        background-color: rgb(231, 231, 231);
        height: 720PX;
        width: 100%;
        margin-top: 5px; 
    }
}
/*=====>>> ABOUT ME <<<======*/
@media screen and (min-width: 1024px){
    div#about{
        background-color: rgb(38, 36, 44);
        width: 400px;
        height: 720PX;
        color: white;
        margin-left: 0.5%;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    #myname{
        color: rgb(255, 123, 0);
        text-align: center;
        text-transform: uppercase;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 200%; 
    }
    #profilephoto{
        width: 300px;
    }
    header nav div#about ul li{
        color: white;
        padding: 5% 15%;
        cursor: pointer;
        transition: 0.3s;
    }
    header nav div#about ul{
        display: inline-flex;
        list-style-type: none;
        padding: 5% 6%;
    }
    header nav div#about ul li:hover{
        color: black;
        transform: scale(1.25);
    }
    .resume{
        display: flex;
        list-style-type: none;
        padding: 5%;
        margin-top: 70%;
        display: block;
        text-align: center;
        color: rgb(30, 255, 0);
    } 
}
@media screen and (max-width: 1023px){
    div#about{
        /* background-color: rgb(80, 61, 138); */
        background-color: rgb(38, 36, 44);
        /* width: 375px; */
        width: 100%;
        max-height: 500PX;
        color: white;
        /* margin-left: 0.5%; */
        margin-bottom: 5px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    #myname{
        color: rgb(255, 123, 0);
        text-align: center;
        text-transform: uppercase;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 200%; 
    }
    #profilephoto{
        display: block;
        width: 200px;
        margin: auto;
    }
    header nav div#about ul li{
        display:inline-block;
        color: white;
        padding-top: 3%;
        margin: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    header nav div#about ul{
        display: inline-flex;
        list-style-type: none;
        /* padding: 5% 6%; */
        display: block;
        text-align: center;
    } 
    header nav div#about ul li:hover{
        color: black;
        transform: scale(1.25);
    }
    .resume{
        display: block;
        list-style-type: none;
        padding: 2%;
        margin-bottom: auto;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 10px;
        color: rgb(30, 255, 0);
    } 
}