/*=====>>> MAIN STYLE <<<=====*/
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font: normal;
}
body{ 
    /* background-color: rgb(0, 0, 0); */
    background-color: #2E4659;
    height: 100vh;
}
@media screen and (min-width: 1024px){
    .flex{
        display: flex;
    }
}
@media screen and (max-width: 1024px){
    .flex{
        display: flex;  
        /* flex-direction: row-reverse; */
        flex-direction: column-reverse;
    }
    #projectsmenu{
        order: 2;
    }
    main{
        order: 1;
    }
    #about{
        order: 3;
    }
}
/*=====>>> HEADER <<<=====*/
header{
    padding-top: 50px;
    min-width: 516px;
    max-width: 1540px;
    height: 720px;
}
/*responsive style*/
@media screen and (min-width: 1024px){
    h1#titleprojects{
        text-align: center;
        padding-top: 10%;
    }
    div#projectsmenu{
        /* background-color: rgb(38, 36, 44); */
        background-color: #0D171F;
        min-width: 90px;
        width: 150px;
        height: 720PX;
        color: rgb(255, 123, 0);
        margin-right: 0.5%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    header nav div#projectsmenu ul{
        list-style-type: none;
        margin-top: 20%;
    }
    header nav div#projectsmenu ul li{
        color: #F1F4F7;
        padding: 15% 15%;
        cursor: pointer;
        transition: 0.3s;
        font-size: 12px;
    }
    header nav div#projectsmenu ul li:hover{
        color: rgb(0, 0, 0);
        padding: 15% 30%;
        font-size: 12px;
        transform: scale(1.2);
        /* background-color: rgba(231, 231, 231, 0.493); */
        background-color: #b4c5d17e;
    }
} 
@media screen and (max-width: 1024px){
    h1#titleprojects{
        margin-top: auto;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
    }
    div#projectsmenu{
        display: block;
        background-color: rgb(38, 36, 44);
        width: 100%;
        /* height: 70px; */
        height: 100%;
        text-align: center;
        color: rgb(255, 123, 0);
        display: inline-flex;
    }
    header nav div#projectsmenu ul{ 
        display: inline-block;
        text-align: center;
        list-style-type: none;
        width: 70%;
        height: 100%;
        /* background-color: red; */
    }
    header nav div#projectsmenu ul li{ 
        display: inline-block;
        margin: 5px;
        padding: 8px;
        /* color: rgb(231,u 231, 231); */
        color: #F1F4F7;
        cursor: pointer;
        transition: 0.3s;
        font-size: 12px;
        /* background-color: green; */
    }
    header nav div#projectsmenu ul li:hover{
        color: rgb(0, 0, 0);
        font-size: 12px;
        transform: scale(1.5);
    }
} 
/*=====>>> CONTENT <<<=====*/
.rolagem{
    overflow: auto;
}
@media screen and (min-width: 1024px){
    main section div#content{
        /* background-color: rgb(231, 231, 231); */
        background-color: #B4C5D1;
        height: 720px;
    }
}
@media screen and (max-width: 1024px){
    main section div#content{
        /* background-color: rgb(231, 231, 231); */
        background-color: #B4C5D1;
        height: 720PX;
        width: 100%;
        margin-top: 5px; 
    }
}
/*=====>>> ABOUT ME <<<======*/
@media screen and (min-width: 1024px){
    div#about{
        /* background-color:rgb(38, 36, 44); */
        background-color: #0D171F;
        width: 400px;
        height: 720px;
        color: #F1F4F7;
        margin-left: 0.5%;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    #myname{
        color: rgb(255, 123, 0);
        text-align: center;
        text-transform: uppercase;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 200%; 
    }
    #profilephoto{
        width: 300px;
    }
    header nav div#about ul li{
        color: #F1F4F7;
        padding: 1% 15%;
        cursor: pointer;
        transition: 0.3s;
    }
    header nav div#about ul#socialmedia {
        display: flex;
        width: 50%;
        text-align: center;
    }
    header nav div#about ul#socialmedia i{
        font-size: 35px;
    }


    header nav div#about ul#tecnologies li img{
        width: 45px;
    } 
    header nav div#about ul#tecnologies li{
        display: inline-flex;
        padding: 0;
        margin: 5px;
    }
    header nav div#about ul#tecnologies{
        display: block;
        width: 80%;
        height: 140px;
        text-align: center;
    }


    header nav div#about ul{
        display: inline-flex;
        list-style-type: none;
        padding: 5% 6%;
    }
    header nav div#about ul li.interact:hover{
        color: black;
        transform: scale(1.25);
    }


    .resume{
        display: flex;
        list-style-type: none;
        padding: 2%;
        display: block;
        text-align: center;
    } 
    div#contactme{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    i#phone{
        color: rgb(3, 196, 3);
        display: inline-block;
        margin-top: 10px;
    }
    i#email{
        color: rgb(255, 123, 0);
        text-decoration: none;
    }
    a.contactClick{
        color: #D0DDE4;
        
        text-decoration: none;
        font-weight: lighter;
    }
    a.contactClick:hover{
        /* color: rgb(255, 123, 0); */
        color: #D16630; 
        text-decoration: none;
        font-weight: bolder;
    }
    h2{
        /* color: rgb(0, 0, 0); */
        color: #5E788C;
        text-decoration: underline 2px #5E788C;
        font-size: 30px;
    }
    .contacts{
        margin: 10px;
        font-size: 18px;
    }
}
@media screen and (max-width: 1023px){
    div#about{
        /* background-color: rgb(80, 61, 138); */
        background-color: rgb(38, 36, 44);
        /* width: 375px; */
        width: 100%;
        max-height: 720PX;
        color: #F1F4F7;
        /* margin-left: 0.5%; */
        margin-bottom: 5px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    #myname{
        /* color: rgb(255, 123, 0); */
        color: #D16630;
        text-align: center;
        text-transform: uppercase;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 200%; 
    }
    #profilephoto{
        display: block;
        width: 200px;
        margin: auto;
    }
    header nav div#about ul li{
        display:inline-block;
        color: #F1F4F7;
        padding-top: 3%;
        margin: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    header nav div#about ul#socialmedia {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 0;
        padding-top: 3px;
        padding-bottom: 10px;
    }
    header nav div#about ul#socialmedia i{
        font-size: 30px;
    }
    header nav div#about ul{
        display: inline-flex;
        list-style-type: none;
        padding: 5% 6%;
        display: block;
        text-align: center;
    } 
    header nav div#about ul#tecnologies li img{
        width: 35px;
    }  
    header nav div#about ul#tecnologies li{
        display: inline-flex;
        margin: auto;
        margin: 5px;
    }
    header nav div#about ul#tecnologies{
        display: block;
        width: 40%;
        height: 100%;
        text-align: center;
    }
    header nav div#about ul li.interact:hover{
        color: black;
        transform: scale(1.25);
    }


    .resume{
        display: block;
        width: 200px;
        list-style-type: none;
        padding-bottom: 18px;
        padding-top: 18px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
        color: rgb(30, 255, 0);
    } 
    div#contactme{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    i#phone{
        display: inline-block;
        color: rgb(3, 196, 3);
        margin-top: 10px;
    }
    i#email{
        color: rgb(255, 123, 0);
    }
    h2{
        color: #5E788C;
        text-decoration: underline 2px #5E788C;
        font-size: 30px;
    }
    .contacts{
        margin: 10px;
        font-size: 18px;
    }

    a.contactClick{
        color: #D0DDE4;
        text-decoration: none;
        font-weight: lighter;
    }
    a.contactClick:hover{
        /* color: rgb(255, 123, 0); */
        color: #D16630; 
        text-decoration: none;
        font-weight: bolder;
    }
}

i{
    /* color: rgb(0, 60, 255); */
    color: #5E788C;
}
i:hover{
    /* color: #ff7b00; */
    color: #D16630; 
}