/* iframe#shipdestroyer{
    height: 267.5%;
}
iframe#abeastoutside{
    height: 285.5%;
}
iframe#fpsmultiplayer{
    height: 167.5%;
} */
p#contenttext{
    color: #00000000;
}
@media screen and (max-width: 1024px){
    .line hr{
        border: 0;
        height: 70px;
        width: 3px;
        background-color: #ff7b00;
    }
    iframe{
        padding-left: 2.5%;
        padding-top: 2.5%;
        width: 97.5%;
        height: 50%; 
        background-color: rgb(255, 255, 255);
    }
}
@media screen and (min-width: 1024px){
    .line hr{
        border: 0;
        height: 3px;
        background: #ff7b00; 
    }
    iframe{
        padding-left: 2.5%;
        padding-top: 2.5%;
        width: 97.5%;
        height: 50%; 
    }
}
